@charset "utf-8";

/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}



a, a:visited {
  color: #fff;
}


.menu {
  width: 800px;
  margin: auto;
}

.menu ul {
  text-align: center;
}

.head {
  background: #8CBFD8;
  width: 100%;
  height: 350px;
  top: 0px
  left:0px;
  position: relative;
}

.head_title {
  width: 500px;
  margin: auto;
  position: relative;
}

.shadow {
  position: absolute;
  left: 70px;
  top: 60px;
}

.hey {
  position: absolute;
  left: 230px;
  top: 140px;
  font-family: arial;
  color: #FFF;
  font-size: 20px;
}

.name {
  position: absolute;
  left: 190px;
  top: 170px;
  font-family: arial;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
}

li {
  font-size: 18px;
  font-family: 微軟正黑體; /* position:absolute; */
  top: 350px;
  background: #8CBFD8;
  padding-bottom: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #FFF;
  width: 150px;
  text-align: center;
  display: inline-block;
}

.home_menu_li1 {
  margin-left: 0;
  margin-right: 15px;
}

.home_menu_li2 {
  margin-left: 15px;
  margin-right: 15px;
}

.home_menu_li3 {
  margin-left: 15px;
  margin-right: 15px;
}

.home_menu_li4 {
  margin-left: 15px;
  margin-right: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #5E90A4;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.design_me_all {
  width: 800px;
  margin: 80px auto 80px auto;
}

.pro_pic {
  float: left;
  margin-right: 20px;
}

.title_all {
  color: #5E90A4;
  font-size: 18px;
}

.design_me_title {
  font-family: 微軟正黑體;
  font-size: 24px;
  margin-bottom: 10px;
  color: #5E90A4;
  font-weight: bold;
}

.design_me {
  font-family: 微軟正黑體;
  font-size: 16px;
  line-height: 21px;
}

.info_all {
  width: 800px;
  margin: 80px auto 80px auto;
  font-family: 微軟正黑體, arial;
  font-size: 14px;
}

.info_span {
  margin-left: 10px;
}

.info_div {
  float: left;
  margin-right: 70px;
  margin-bottom: 90px;
  line-height: 21px;
}

.table_skill {
  width: 220px;
}

.ed_div {
  float: left;
  margin-right: 0px;
  margin-bottom: 90px;
  line-height: 21px;
}

.table_work_up {
  width: 600px;
  text-align: left;
}

.table_work_down_l {
  float: left;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  text-align: left;
  margin-top: 10px;
}

.table_work_down_r {
  float: right;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  text-align: left;
  margin-top: 10px;
  margin-left: 25px;
}


@media (max-width: 667px) {


.head{
  background-color: #8CBFD8;
  width: 100%;
  height: 200px;}

.shadow img{
  width:52px;
}

.shadow {
  position: absolute;
  left: 81px;
  top: 38px;
}

.hey {
  position: absolute;
  left: 160px;
  top: 81px;
  font-family: arial;
  color: #FFF;
  font-size: 16px;
}

.name {
  position: absolute;
  left: 140px;
  top: 105px;
  font-family: arial;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
}

ul{width:100%;
  margin: auto;
}

li {
  font-size: 18px;
  font-family: 微軟正黑體; /* position:absolute; */
  top: 350px;
  background: #8CBFD8;
  border-radius: 10px;
  color: #FFF;
  width: 75px;
  text-align: center;
  float: left;
  margin-top: 10px;
  padding: 5px;

}

.home_menu_li1 {
  margin-left: 5px;
  margin-right: 8px;
}

.home_menu_li2,.home_menu_li3,.home_menu_li4 {
  margin-left: 0px;
  margin-right: 8px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #5E90A4;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.design_me_all {
  width: 100%;
  margin: auto;
}

.design_me_all img{
width: 336px;
margin: 20px auto 10px 18px;}


.pro_pic {
  float: none;}


.title_all {
  color: #5E90A4;
  font-size: 18px;
}

.design_me_title {
  font-family: 微軟正黑體;
  font-size: 24px;
  margin:10px 18px;
  color: #5E90A4;
  font-weight: bold;
}

.design_me {
  font-family: 微軟正黑體;
  font-size: 16px;
  line-height: 21px;
  width: 350px;
  margin-left: 18px;
}

.info_all {
  width: 100%;
  font-family: 微軟正黑體, arial;
  font-size: 14px;
  margin-left: 50px;
}

.info_span {
  margin-left: 10px;
}

.info_div {
  margin-right: 70px;
  margin-bottom: 90px;
  line-height: 21px;
}

.table_skill {
  width: 220px;
}

.ed_div {
  margin-right: 0px;
  margin-bottom: 90px;
  line-height: 21px;
}

.table_work_up {
  width: 100%;
}

.table_work_down_l {
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  text-align: left;
  margin-top: 10px;
}

.table_work_down_r {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  margin: 110px 0px;
  padding-right: 20px;
}


.table_work_up_08{
  width: 260px;
  position: absolute;
  top: 1780px;
  left: 50px;}

.table_work_up_081{
  width: 260px;
  position: absolute;
  top: 1800px;
  left: 50px;}

.table_work_up_082{
  width: 260px;
  position: absolute;
  top: 1820px;
  left:50px;}

hr{width: 270px;}



}